In [1]:
%run gyenes_vizu.py

# DATA

In [2]:
edge_features

  origin destination  migration
0      a           b   0.072427
1      a           c   0.564326
2      a           d   0.251787
3      b           c   0.545456
4      b           d   0.553142
5      c           d   0.196822

In [3]:
node_features

   stock_migration
a               20
b                5
c              132
d               18

# VIZU

In [4]:
mignet=vizu(edge_features,node_features)
mignet.show("mig.html")