# Matek Stat alapozás

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
RANGE = range(10,1000,20)
def calculate_diff_series(lambda_parameter):
    for i in RANGE:
        df=pd.DataFrame()
        df["poi"]=np.random.poisson(lambda_parameter,i)
        df["binom"]=np.random.binomial(10,lambda_parameter/10,i)
        x=df["binom"].value_counts(normalize=True).sort_index()
        y=df["poi"].value_counts(normalize=True).sort_index()
        diff_df = y.to_frame().merge(x.to_frame(), how="left", left_index=True, right_index=True)
        diff_df.fillna(0,inplace=True)
        diff_df["DIFF"] = np.abs(diff_df["poi"] - diff_df["binom"])
        lam_5.append(diff_df["DIFF"].max())
    return  lam_5
lam_1=calculate_diff_series(1)
lam_3=calculate_diff_series(3)
lam_5=calculate_diff_series(5)

konvergencia=pd.DataFrame()
konvergencia["n"]=[i for i in RANGE]
konvergencia["lambda1"]=lam_1
konvergencia["lambda3"]=lam_3
konvergencia["lambda5"]=lam_5

fig  = plt.figure(figsize=(10,10))
ax = plt.axes()

ax.plot(konvergencia["n"], konvergencia["lambda1"], label="lambda=1") 
ax.plot(konvergencia["n"], konvergencia["lambda3"], label="lambda=3") 
ax.plot(konvergencia["n"], konvergencia["lambda5"], label="lambda=5") 

ax.set_xlabel('Eloszlás minta mérete', fontsize=16)
ax.set_ylabel('Sűrűségfüggvények közötti eltérés maximuma', fontsize=16)

ax.legend() # add legend

ax.set_title('Konvergencia különböző lambdákra', fontsize=22)

ValueError: Length of values (200) does not match length of index (50)

In [29]:
lam_1

[0.19999999999999998,
 0.2,
 0.16,
 0.17142857142857143,
 0.10000000000000003,
 0.1545454545454545,
 0.13846153846153847,
 0.07333333333333333,
 0.12941176470588234,
 0.1105263157894737,
 0.057142857142857134,
 0.06521739130434781,
 0.15200000000000002,
 0.1,
 0.08620689655172414,
 0.0838709677419355,
 0.09393939393939393,
 0.08,
 0.07567567567567568,
 0.10256410256410256,
 0.11707317073170734,
 0.13953488372093023,
 0.10444444444444445,
 0.0702127659574468,
 0.1040816326530612,
 0.05882352941176469,
 0.07169811320754718,
 0.05636363636363634,
 0.10526315789473686,
 0.09152542372881359,
 0.08524590163934426,
 0.06349206349206349,
 0.08923076923076925,
 0.09402985074626866,
 0.0811594202898551,
 0.11549295774647889,
 0.08356164383561643,
 0.064,
 0.07402597402597402,
 0.08860759493670886,
 0.07777777777777775,
 0.07710843373493975,
 0.07411764705882354,
 0.067816091954023,
 0.057303370786516844,
 0.1,
 0.0967741935483871,
 0.07999999999999999,
 0.06597938144329898,
 0.05252525252525253,
 0.19999999999999996,
 0.13333333333333336,
 0.08000000000000002,
 0.028571428571428567,
 0.033333333333333326,
 0.027272727272727275,
 0.03846153846153849,
 0.07333333333333333,
 0.05882352941176472,
 0.04210526315789474,
 0.06666666666666665,
 0.05652173913043479,
 0.06,
 0.059259259259259255,
 0.062068965517241365,
 0.05161290322580642,
 0.018181818181818184,
 0.04285714285714287,
 0.04864864864864865,
 0.05897435897435899,
 0.053658536585365846,
 0.027906976744186046,
 0.026666666666666616,
 0.051063829787234005,
 0.02040816326530609,
 0.07647058823529412,
 0.013207547169811346,
 0.034545454545454546,
 0.047368421052631615,
 0.07966101694915256,
 0.03934426229508198,
 0.049206349206349254,
 0.05384615384615388,
 0.03731343283582089,
 0.055072463768115976,
 0.06760563380281692,
 0.019178082191780854,
 0.01733333333333334,
 0.010389610389610393,
 0.06455696202531647,
 0.07283950617283952,
 0.022891566265060226,
 0.07529411764705884,
 0.027586206896551724,
 0.03820224719101123,
 0.03516483516483515,
 0.05268817204301074,
 0.02526315789473682,
 0.02371134020618554,
 0.026262626262626265,
 0.3,
 0.19999999999999998,
 0.24000000000000002,
 0.14285714285714285,
 0.09999999999999999,
 0.07272727272727272,
 0.08461538461538462,
 0.06666666666666668,
 0.02941176470588236,
 0.14736842105263157,
 0.0761904761904762,
 0.09130434782608698,
 0.060000000000000026,
 0.051851851851851816,
 0.06206896551724139,
 0.11290322580645162,
 0.04545454545454544,
 0.06571428571428573,
 0.05675675675675673,
 0.0692307692307692,
 0.05609756097560975,
 0.03720930232558137,
 0.10222222222222219,
 0.09148936170212768,
 0.03877551020408164,
 0.04313725490196077,
 0.0679245283018868,
 0.032727272727272744,
 0.059649122807017535,
 0.07966101694915254,
 0.07377049180327871,
 0.07142857142857142,
 0.07230769230769232,
 0.07910447761194031,
 0.052173913043478265,
 0.0647887323943662,
 0.07945205479452055,
 0.05200000000000002,
 0.040259740259740245,
 0.056962025316455694,
 0.06666666666666668,
 0.034939759036144574,
 0.05411764705882352,
 0.0367816091954023,
 0.07528089887640449,
 0.040659340659340626,
 0.05913978494623656,
 0.03263157894736843,
 0.03298969072164948,
 0.036363636363636376,
 0.2,
 0.06666666666666667,
 0.19999999999999998,
 0.08571428571428572,
 0.14444444444444443,
 0.08181818181818182,
 0.11538461538461539,
 0.08666666666666667,
 0.1411764705882353,
 0.09473684210526317,
 0.08095238095238097,
 0.0956521739130435,
 0.06,
 0.07777777777777778,
 0.1068965517241379,
 0.1064516129032258,
 0.04848484848484849,
 0.08285714285714287,
 0.07027027027027027,
 0.10256410256410259,
 0.1195121951219512,
 0.11162790697674418,
 0.07555555555555557,
 0.0574468085106383,
 0.07755102040816328,
 0.1431372549019608,
 0.09433962264150944,
 0.1109090909090909,
 0.06140350877192982,
 0.07288135593220338,
 0.07868852459016393,
 0.10158730158730159,
 0.058461538461538454,
 0.08656716417910447,
 0.08840579710144927,
 0.08028169014084507,
 0.07534246575342465,
 0.060000000000000026,
 0.08051948051948052,
 0.08607594936708862,
 0.09135802469135801,
 0.08674698795180721,
 0.09294117647058822,
 0.09655172413793103,
 0.07303370786516852,
 0.050549450549450536,
 0.08064516129032256,
 0.05473684210526314,
 0.05773195876288659,
 0.09292929292929292]

In [28]:
konvergencia

      n
0    10
1    30
2    50
3    70
4    90
5   110
6   130
7   150
8   170
9   190
10  210
11  230
12  250
13  270
14  290
15  310
16  330
17  350
18  370
19  390
20  410
21  430
22  450
23  470
24  490
25  510
26  530
27  550
28  570
29  590
30  610
31  630
32  650
33  670
34  690
35  710
36  730
37  750
38  770
39  790
40  810
41  830
42  850
43  870
44  890
45  910
46  930
47  950
48  970
49  990

In [24]:
lam_5=[]
def calculate_diff_series(lambda_parameter):
    for i in RANGE:
        df=pd.DataFrame()
        df["poi"]=np.random.poisson(lambda_parameter,i)
        df["binom"]=np.random.binomial(10,lambda_parameter*10,i)
        x=df["binom"].value_counts(normalize=True).sort_index()
        y=df["poi"].value_counts(normalize=True).sort_index()
        diff_df = y.to_frame().merge(x.to_frame(), how="left", left_index=True, right_index=True)
        diff_df.fillna(0,inplace=True)
        diff_df["DIFF"] = np.abs(diff_df["poi"] - diff_df["binom"])
        lam_5.append(diff_df["DIFF"].max())
    return  lam_5

In [25]:
lam_5

[0.19999999999999998,
 0.2,
 0.16,
 0.17142857142857143,
 0.10000000000000003,
 0.1545454545454545,
 0.13846153846153847,
 0.07333333333333333,
 0.12941176470588234,
 0.1105263157894737,
 0.057142857142857134,
 0.06521739130434781,
 0.15200000000000002,
 0.1,
 0.08620689655172414,
 0.0838709677419355,
 0.09393939393939393,
 0.08,
 0.07567567567567568,
 0.10256410256410256,
 0.11707317073170734,
 0.13953488372093023,
 0.10444444444444445,
 0.0702127659574468,
 0.1040816326530612,
 0.05882352941176469,
 0.07169811320754718,
 0.05636363636363634,
 0.10526315789473686,
 0.09152542372881359,
 0.08524590163934426,
 0.06349206349206349,
 0.08923076923076925,
 0.09402985074626866,
 0.0811594202898551,
 0.11549295774647889,
 0.08356164383561643,
 0.064,
 0.07402597402597402,
 0.08860759493670886,
 0.07777777777777775,
 0.07710843373493975,
 0.07411764705882354,
 0.067816091954023,
 0.057303370786516844,
 0.1,
 0.0967741935483871,
 0.07999999999999999,
 0.06597938144329898,
 0.05252525252525253]

In [10]:
konvergencia

      n   lambda1   lambda3   lambda5
0    10  0.200000  0.300000       NaN
1    30  0.133333       NaN  0.133333
2    50  0.120000       NaN       NaN
3    70  0.057143  0.128571  0.128571
4    90  0.155556  0.088889       NaN
5   110  0.081818  0.054545  0.081818
6   130  0.107692  0.046154       NaN
7   150  0.033333  0.040000  0.133333
8   170  0.052941  0.076471  0.111765
9   190  0.063158  0.026316       NaN
10  210  0.042857  0.080952       NaN
11  230  0.052174  0.060870       NaN
12  250  0.084000  0.096000       NaN
13  270  0.055556  0.051852  0.085185
14  290  0.082759  0.065517       NaN
15  310  0.058065  0.048387       NaN
16  330  0.051515  0.109091       NaN
17  350  0.140000  0.060000       NaN
18  370  0.062162  0.086486       NaN
19  390  0.064103  0.097436  0.056410
20  410  0.065854  0.107317  0.148780
21  430  0.072093  0.027907  0.146512
22  450  0.006667  0.073333       NaN
23  470  0.006383  0.029787  0.091489
24  490  0.040816  0.059184  0.079592
25  510  0.043137  0.054902       NaN
26  530  0.050943  0.039623  0.090566
27  550  0.067273  0.047273  0.065455
28  570  0.064912  0.096491       NaN
29  590  0.015254  0.050847       NaN
30  610  0.063934  0.073770  0.044262
31  630  0.026984  0.038095       NaN
32  650  0.016923  0.060000  0.061538
33  670  0.055224  0.073134  0.070149
34  690  0.043478  0.065217       NaN
35  710  0.054930  0.057746       NaN
36  730  0.046575  0.038356       NaN
37  750  0.056000  0.056000       NaN
38  770  0.055844  0.049351  0.074026
39  790  0.074684  0.034177       NaN
40  810  0.030864  0.050617  0.080247
41  830  0.019277  0.050602  0.056627
42  850  0.038824  0.037647  0.087059
43  870  0.035632  0.049425       NaN
44  890  0.020225  0.058427  0.097753
45  910  0.014286  0.067033       NaN
46  930  0.067742  0.045161       NaN
47  950  0.029474  0.033684       NaN
48  970  0.039175  0.056701       NaN
49  990  0.017172  0.072727  0.056566

In [5]:
for i in range(10,1000,20):
    df=pd.DataFrame()
    df["poi"]=np.random.poisson(1,i)
    df["binom"]=np.random.binomial(10,0.1,i)
    x=df["binom"].value_counts(normalize=True).sort_index()
    y=df["poi"].value_counts(normalize=True).sort_index()
    lam_1.append(max(abs(y-x)))
x

0    0.347838
1    0.387182
2    0.194242
3    0.057687
4    0.011131
5    0.001727
6    0.000192
Name: binom, dtype: float64

In [7]:
max(abs(y-x))

0.018373737373737375

In [144]:
import powerlaw as powerlaw
#próbáljuk meg ezt lerajzolni hisztogramon, ahogy az előbb
df=pd.DataFrame()
df["power_2"]=powerlaw.Power_Law(xmin=2, parameters=[2],discrete=True).generate_random(10000)
df["power_2_5"]=powerlaw.Power_Law(xmin=2, parameters=[2.5],discrete=True).generate_random(10000)
df["power_3"]=powerlaw.Power_Law(xmin=2, parameters=[3],discrete=True).generate_random(10000)
df["power_1_5"]=powerlaw.Power_Law(xmin=2, parameters=[1.5],discrete=True).generate_random(10000)

for power in ["power_2", "power_2_5", "power_3", "power_1_5"]:
    counts,bin_edges = np.histogram(df["power_2"], bins=100)

    
    upper=counts*bin_edges[1:]
    lower=counts*bin_edges[0:-1]
    print(f"Eloszláts neve: {power}")
    print(f"Várható érték: {df[power].mean()}")
    print(f"Szórás: {df[power].std()}")
    print(f"Normalizációs konstant: {sum((upper+lower)/2)} \n")

Eloszláts neve: power_2
Várható érték: 14.5193
Szórás: 158.02589422570645
Normalizációs konstant: 624676.7299999999

Eloszláts neve: power_2_5
Várható érték: 4.9623
Szórás: 18.531584408033986
Normalizációs konstant: 624676.7299999999

Eloszláts neve: power_3
Várható érték: 3.504
Szórás: 4.558120407159401
Normalizációs konstant: 624676.7299999999

Eloszláts neve: power_1_5
Várható érték: 1738383.479
Szórás: 168744879.9817331
Normalizációs konstant: 624676.7299999999